/* .hero-container{
    display:inline-block;
    position: relative;
    top: 30px;
    padding: 0 50px;
    margin: 0;
}

.intro{
    position: relative;
    color: rgb(234, 88, 12);
    font-size: 1.5rem;
}

.head-line{
    display:inline-block;
    font-size: 8rem;
    font-weight: 800;
}

.head-line .line-block{
    display: inline-block;
    background-color: white;
    padding-right: 35px;
}


.head-line .span-color{
    color: rgb(234, 88, 12);
}

.sub-line{
    position: relative;
    color: rgb(109, 116, 128);
    font-size: 1.3rem;
}

.shop-now{
    position: relative;
    border: none;
    background-color: #ff6452;
    font-size: 2rem;
    color: white;
    padding: 15px 40px;
    border-radius: 50px;
    transition: 0.3s;
    top:30px;
}

.shop-now b{
    background-color: white;
    color: #ff6452;
    border-radius: 50%;
    font-size: 1.9rem;
    padding: 3px 9px;
}



.shop-now:hover{
    background-color: hsl(6, 100%, 76%);
    cursor: pointer;
    transition: 0.5s;
}

.shop-now:active{
    background-color: hsl(6, 100%, 86%);
    cursor: pointer;
    transition: 0.5s;
}

 */
